.responsive-sub-text {
  font-size: calc(var(--sub-size-num, 20) * 0.6px);
}

@media (min-width: 768px) {
  .responsive-sub-text {
    font-size: calc(var(--sub-size-num, 20) * 0.8px);
  }
}

@media (min-width: 1024px) {
  .responsive-sub-text {
    font-size: calc(var(--sub-size-num, 20) * 1px);
  }
}

.responsive-sub-text-original {
  font-size: calc(var(--sub-size-num, 20) * 0.24px);
}

@media (min-width: 768px) {
  .responsive-sub-text-original {
    font-size: calc(var(--sub-size-num, 20) * 0.32px);
  }
}

@media (min-width: 1024px) {
  .responsive-sub-text-original {
    font-size: calc(var(--sub-size-num, 20) * 0.4px);
  }
}